/* src/components/MemeGenerator/StickerPanel.css */
.sticker-panel {
  width: 200px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sticker-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sticker {
  width: 80px;
  height: 80px;
  overflow: hidden;
  cursor: grab;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.sticker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
